<div class="app-container">
  <!-- <mat-toolbar color="primary" class="app-toolbar">
    <mat-icon>description</mat-icon>
    <span class="app-title">{{ title }}</span>
  </mat-toolbar> -->

  <div class="navigation-container">
    <mat-stepper [selectedIndex]="getCurrentStep()" orientation="horizontal" class="step-navigation">
      <mat-step *ngFor="let step of steps; let i = index" >
        <ng-template matStepLabel>
          <div class="step-label" (click)="navigateToStep(step.route)">
            <mat-icon [color]="getCurrentStep()==i?'accent':'primary'">{{ step.icon }}</mat-icon>
            <span>{{ step.label }}</span>
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </div>

  <main class="main-content">
    <div class="header-content">
        <h2>{{steps[getCurrentStep()].headerText}}</h2>
            <div class="navigation-buttons">
      @if(getCurrentStep()!==0){
      <button mat-stroked-button (click)="navigateToStep(steps[getCurrentStep()-1].route)">Prev</button>
      }
      @if(getCurrentStep()!==steps.length-1){
        <button mat-raised-button (click)="navigateToStep(steps[getCurrentStep()+1].route)" color="primary">Next</button>
      }
    </div>
    </div>

    <router-outlet />
  </main>
</div>
<footer class="footer-watermark">
  <span class="watermark-content">
    <img src="icon.png" alt="knrb logo" class="watermark-logo" />
    <!-- <span class="watermark-name">knrb</span> -->
  </span> 
</footer>